* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****  reusable ****/
.row {
    width: 960px;
    margin: 0 auto;
}

.heading-main h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.heading-main h2:after {
    content: "";
    display: block;
    width: 150px;
    border-bottom: 5px solid #D67949;
    margin: 20px auto;
}

/**** header ****/
header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(/static/images/bck-header.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

#logo img{
    float: left;
    width: 5%;
    margin-top: 10px;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: border-bottom 1s;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:active {
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #D67949;
}

.header-main {
    display: flex;
    align-items: center;
}

.name-socials {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.image-container img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
    margin-left: 30%;
    margin-top: 100px;
}

.name-socials h1 {
    color: #fff;
    font-size: 53px;
}

.a-socials {
    margin-left: 11px;
}
.a-socials img {
    width: 11%;
    margin-left: 20px;
    margin-top: 15px;
}

.a-socials a img:link,
.a-socials a img:visited {
    margin-left: 25px;
}


.a-socials a img:hover,
.a-socials a img:active {
    background: #D67949;
    border-radius: 15px;
    transition: background 0.5s;
    animation: rotate 1s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*** Footer ***/

.footer-page {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(/static/images/bck-header.jpg);
    opacity: 0.7;
    margin-top: 0;
}

.socials p {
    text-align: center;
    font-family: Arial;
    font-size: 10px;
}

.footer-text {
    color: white;
    text-align: center;
}

/*** Stop floating ***/
.clearfix{zoom: 1}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}