* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
}
/******************************  Reusable ******************************/
.row {
    max-width: 960px;
    margin: 0 auto;
}


/********************************* Logo *********************************/
#logo img{
    float: left;
    max-width: 100px;
    margin-top: 10px;
}

/****************************** BODY ******************************/
header {
    position: relative;
    overflow: hidden;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/images/bck-header.jpg);
    background-size: cover;
    opacity: 0.95;
    z-index: -2;
}

body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
        rgba(0,0,0,0.497) 0%, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0.75) 50%,
        rgba(0,0,0,0.497) 100%);
    background-size: -7000px 100%;
    background-attachment: fixed;
    animation: bg 40s linear infinite;
    z-index: -1;
}

@keyframes bg {
    0% {
        background-position-x: -5000;
    }
    100% {
        background-position-x: 5000px;
    }
}

/****************************** Navigation ******************************/

ul {
    margin-top: 16px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar ul li a:link,
.navbar ul li a:visited {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: border-bottom 1s;
    border-bottom: 2px solid transparent;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #D67949;
}

/****************************** Navigation Dropdown ******************************/
.roll {
    position: relative;
    top: 10px;
}

.dropdown {
  overflow: hidden;
  width: 100%;
  font-size: 5px;
  position: static;
  top: 10px;
}

.dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
  background-color: rgba(214, 121, 73, 0.7);
  border-radius: 4px;
  font-family: inherit;
  position: inherit;
  margin-right: 20px;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  transition: border-bottom 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(214, 121, 73, 1);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  z-index: 2;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 5px;
  top: 38px;

}

.dropdown-content p {
    font-size: 20px;
}

.dropdown-content a {
  float: none;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 10px;
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

.dropdown-content a:hover {
  background-color: #FF7045;
}


/****************************** Socials ******************************/
main {
    height: 90vh;
}

.header-main {
    display: flex;
    align-items: center;
}

.name-socials {
    text-align: center;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.name-socials h1 {
    color: #fff;
    font-size: 55px;
    max-width: 100%;
}

.a-socials {
    margin-left: 0;
    text-align: center;
}
.a-socials img {
    width: 12%;
    margin-left: 20px;
    margin-top: 15px;
}

.a-socials a img:link,
.a-socials a img:visited {
    margin-left: 25px;
}


.a-socials a img:hover,
.a-socials a img:active {
    background: #D67949;
    border-radius: 15px;
    transition: background 0.5s;
    animation: rotate 1s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/******************************* first img me *********************************/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}


.image-container img {
    width: 80%;
    object-fit: contain;
    border-radius: 30px;
    box-shadow: 10px 10px 20px black;
    margin-left: 30%;
    margin-top: 100px;
}



/****************************** Footer ******************************/
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;
   background: rgba(250,250,250,0.1);
}

.footer-page {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(/static/images/bck-header.jpg);
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 0;
}

.socials {
    text-align: center;
    margin-right: 7px;
}

.socials p {
    font-size: 10px;
    display: inline-block;
    margin-left: 7px;

}

.socials a {
    text-decoration: none;
    color: white;
}

.footer-text {
    color: white;
    text-align: center;
}


/*** Stop floating ***/
.clearfix{zoom: 1}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}