@media only screen and (max-width: 750px) {


/*******  index.html *******/

.header-main {
    margin-top: 80px;
}

#logo img{
    float: left;
    width: 100px;
    margin-left: 20px;
}

.image-container img {
    width: 80%
}

.name-socials h1 {
    color: #fff;
    font-size: 35px;
    max-width: 100%;
    margin-left: 20px;
    margin-top: 100px;
}

.a-socials {
    margin-left: 20px;
}

.a-socials img {
    width: 40px;
    margin-left: 5px;
    margin-top: 15px;
}
}

/*******  about_me.html *******/
@media only screen and (max-width: 1060px) {
.main-text p {
    margin: 0 30px;
}

#logo img{
    float: left;
    width: 100px;
    margin-left: 20px;
}

#about_us_header {
    height: auto;
}
#about_me_text {
    margin-bottom: 30px;
}

}

/*******  Resizer  *******/

@media only screen and (max-width: 550px) {
    .res_img{
        margin: 45px 30px;
    }
    .res_img img {
        width: 80%;
    }

    #slider_height {
        height: 40%;
    }

    #img_result {
        margin: 0 auto;
    }
}
/*******  contact.html  *******/



