/************************* image resizer *********************************/

.insert_button {
    text-align: center;
}

.insert_button button {
    padding: 10px;
    margin-bottom: 30px;
}

form {
    text-align: center;
}

form input[name="width"] {
    width: 70px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
form input[name="height"] {
    width: 70px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

form label {
    color: white;
}

#radio {
    margin-top: 20px;
}

.res_img img{
    display: block;
    margin: 30px auto 0 auto;
    width: 300px;
}

#width_img {
    color: white;
    font-size: 20px;
    display: contents;

}

#height_img {
    color: white;
    font-size: 20px;
    display: contents;

}
