{% extends "base.html" %}
{% block title %}Ytb Download{% endblock %}
{% block content %}

<header class="about-me">
    <div class="base-navigation">
            <div class="nav-bar row">
                    <div id="logo">
                        <a href="http://127.0.0.1:5000/"><img src="{{ url_for('static', filename='images/logos.png')}}" alt=""></a>
                    </div>

                <div class="navbar">

                <nav>
                    <ul>
                        <li><a href="http://127.0.0.1:5000/">Home</a></li>
                        <li><a href="http://127.0.0.1:5000/about_me">About me</a></li>
                        <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
                        <li> <div class="dropdown">

                                <button class="dropbtn">Projects
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                    <div class="dropdown-content">
                                          <a href="http://127.0.0.1:5000/downloader">Youtube Downloader</a>
                                          <a href="http://127.0.0.1:5000/downloader">Binance Trading Bot</a>
                                          <a href="http://127.0.0.1:5000/downloader">Clip Maker</a>

                                    </div>
                             </div>
                        </li>
                    </ul>
                </nav>

                </div>
            </div>
            <!-------------------------- Floating cancel ------------------------------>
            <div class="clearfix"></div>
    </div>


</header>



{% endblock %}