{% extends "base.html" %}
{% block title %}Ytb Download{% endblock %}
{% block content %}

<header class="about-me">
    <div class="base-navigation">
            <div class="nav-bar row">
                    <div id="logo">
                        <a href="http://127.0.0.1:5000/"><img src="{{ url_for('static', filename='images/logos.png')}}" alt=""></a>
                    </div>

                <div class="navbar">

                <nav>
                    <ul>
                        <li><a href="http://127.0.0.1:5000/">Home</a></li>
                        <li><a href="http://127.0.0.1:5000/about_me">About me</a></li>
                        <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
                        <li> <div class="dropdown">

                                <button class="dropbtn">Projects
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                    <div class="dropdown-content">
                                          <a href="http://127.0.0.1:5000/downloader">Youtube Downloader</a>
                                          <a href="http://127.0.0.1:5000/imageresizer">Image Resizer</a>
                                          <a href="http://127.0.0.1:5000/downloader">Clip Maker</a>

                                    </div>
                             </div>
                        </li>
                    </ul>
                </nav>

                </div>
            </div>
            <!-------------------------- Floating cancel ------------------------------>
            <div class="clearfix"></div>
    </div>
    <div class="insert_button">
        <button id="image_name">Get Image Path</button>
    </div>
<section class="resizer_section row">

        <div class="post_image">
            <form method="post" id="findimage">

                <div class="slidecontainer_width">
                    <div class="value_horizontal">Width 0%</div>
                    <input type="range" min="-100" max="100" step="1" value="0" class="horizontal_slider" id="width" name="1">
                    <div class="value_vertical">Height 0%</div>

                    <div class="res_img">
                        <img id="img_result" src="">
                    </div>

                </div>
                <div class="slidecontainer_height">

                    <input type="range" min="-100" max="100" step="1" value="0" class="vertical_slider row" id="height" name="2">
                </div>
                
            </form>



        </div>

</section>

</header>



{% endblock %}