{% extends "base.html" %}
{% block title %}Ytb Downdload{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/aboutme_styles.css')}}">
</head>

<header id="about-me">
        <div class="nav-bar row">
            <div id="logo">
                <a href="http://127.0.0.1:5000/"><img src="{{ url_for('static', filename='images/logos.png')}}" alt=""></a>
            </div>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5000/about_me">About me</a></li>
                    <li><a href="http://127.0.0.1:5000/projects">Projects</a></li>
                    <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
                </ul>
                <div class="clearfix"></div>
            </nav>
        </div>
</header>

  <form action="#" method="post">
    <p>Video URL:</p>
    <p><input type="text" name="url"></p>
    <p><input type="submit" value="yes"></p>
    <p><input type="submit" value="no"></p>
  </form>
{% endblock %}