{% extends "base.html" %}
{% block title %}About Vojjtak{% endblock %}



{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/styles/aboutme.css')}}">
</head>

<header id="about_us_header">
        <section class="about-us row">
            <div class="main-text">
                <h2>Co dělám</h2>
                    <div id="about_me_text">

                        <p>Po úspěšném studiu tělesné výchovy a sportu jsem strávil čtyři roky jako
                            učitel všeobecně vzdělávacích předmětů na střední průmyslové škole v Ústí nas Labem.
                            Velmi si vážím zkušeností, které jsem ze školy získal, ale rozhodl jsem se posunout
                            svou kariéru a stát se Python developerem.
                        </p><br>

                        <p>Právě v mém předchozím zaměstnání jsem se poprvé setkal s programováním,
                            které mě velmi zaujalo. Začal jsem ve volném čase studovat a vyvíjet mé první malé projekty.
                            Uvědomil jsem si, že to je věc, ve které vidím logiku, smysl a chci se jí plně věnovat.
                        </p><br>

                        <p>Mým cílem je živit se vývojem v plném rozsahu, dále se zdokonalovat a učit novým věcem.
                            Motivuje mě ohromná komunita a nekonečné možnosti IT světa.
                            </p>

                        <p>Neváhejte se podívat na mé dosavadní projekty zde na stránkách nebo přímo na <a href="https://github.com/Vojjtak" target="_blank">Mém githubu.</a></p>


                        </div>
                <br>
                <div id="images-util">
                    <img id="python" src="{{ url_for('static', filename='images/Python (1).png')}}" alt="">
                    <img id="flask" src="{{ url_for('static', filename='images/Flask.png')}}" alt="">
                    <img id="htmlcss" src="{{ url_for('static', filename='images/htmlcss.png')}}" alt="">
                </div>

            </div>
        </section>
    </div>
</header>



{% endblock %}