<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/grid/grid.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/lightbox.min.css')}}">
    <link rel="stylesheet" href="queries.css">
    <script src="{{url_for('static', filename='js/lightbox-plus-jquery.min.js')}}"></script>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/pepe.png')}}">


    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
        {% block content %}
        {% endblock %}
</body>
</html>