<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
<!-- View -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Title -->
    <title>{% block title %}{% endblock %}</title>
<!-- Title image -->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/harold.png')}}">
<!-- Grid -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/grid/grid.css')}}">
<!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/styles/index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/styles/queries.css')}}">
<!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

{% block content %}
{% endblock %}

<footer class="footer-page">
        <div class="row">
            <div class="socials">
                <p><a href="https://github.com/Vojjtak" target="_blank">Github</a></p>
                <p><a href="https://www.instagram.com/wojjtak/" target="_blank">Instagram</a></p>
                <p><a href="https://www.facebook.com/vojtak.dostal/" target="_blank">Facebook</a></p>
                <p><a href="https://www.linkedin.com/in/vojt%C4%9Bch-dost%C3%A1l-1418a5280/" target="_blank">Linked-in</a></p>
            </div>

            <div class="footer-text">
                <p>Vojjtak's portfolio website &copy;</p>
            </div>
        </div>
    </footer>

</body>
</html>