{% extends "base.html" %}
{% block title %}Contact Vojjtak{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/styles/contact.css')}}">
</head>

<header id="about-me">

    <div class="contact-me">
        <div class="main-text">

            <h2>Contact me</h2>

            <form id="contact-form" method="post">
                <input type="text" placeholder="Name" name="nameinput"><br>
                <input type="email" placeholder="Email" name="emailinput"><br>
                <textarea name="messageinput" id="message" cols="30" rows="10" placeholder="What u need?"></textarea><br>


                <button id="sendEmailButton" type="button">Send email</button>
            </form>
                <br>

            <div id="sent" style="display: none;"></div>
        </div>
    </div>

</header>
{% endblock %}
