{% extends "base.html" %}
{% block title %}Contact Vojjtak{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/aboutme_styles.css')}}">
</head>

<header id="about-me">
    <div class="nav-bar row">
        <div id="logo">
            <a href="http://127.0.0.1:5000/"><img src="{{ url_for('static', filename='images/logos.png')}}" alt=""></a>
        </div>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/about_me">About me</a></li>
                <li><a href="http://127.0.0.1:5000/projects">Projects</a></li>
                <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
            </ul>
            <div class="clearfix"></div>
        </nav>
    </div>
 <div class="heading-main">
    <div class="contact-me">
      <h2>Contact me</h2>
          <form class="contact-form" action="#" method="post">
            <input type="text" placeholder="Name"><br>
            <input type="email" placeholder="Email"><br>
            <textarea name="" id="" cols="30" rows="10" placeholder="What u need?"></textarea><br>
          </form>
    </div>
 </div>
</header>

<footer class="footer-page">
    <div class="row">
        <div class="socials">
            <p><a href="#" target="_blank">Facebook</a></p>
            <p><a href="#" target="_blank">Instagram</a></p>
        </div>

        <div class="footer-text">
            <p>Nečum sem</p>
        </div>
    </div>
</footer>
{% endblock %}